html,
body,
#root{
  width: 100%;
  height: 100%;
}
.layout{
  width: 100%;
  height: 100%;
}

body:before{
  /*微信浏览器禁止页面下拉查看网址*/
  width: 100%;
  height: 100%;
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #fff;
}
